*
  margin 0
  padding 0
  box-sizing border-box
  min-height 0
  min-width 0

html
  scroll-behavior smooth
  height -webkit-fill-available

html
body
  margin 0
  padding 0
  font-family var(--font_regular)
  color @css { rgb(var(--main_dark)) }
  background @css {rgb(var(--main_gray))}
  font-size var(--font_size)
  line-height var(--line_height)
  position relative

  +below(480px)
    font-size var(--font_size_small)
    line-height var(--line_height_small)

a
  color @css {rgb(var(--main_dark))}
  text-decoration none
  position relative
  border-bottom 1px solid transparent
  transition all 0.3s

  &:after
    left inherit
    right 50%

  &:hover
    text-decoration none
    color @css {rgb(var(--main_color))}
    border-color transparent

  &:focus
    outline none

  &:focus
  &:active
    text-decoration none

::selection
  background @css {rgba(var(--main_dark), 0.15)}
  color @css {rgb(var(--main_dark))}
  text-shadow none

::-moz-selection
  background @css {rgba(var(--main_dark), 0.15)}
  color @css {rgb(var(--main_dark))}
  text-shadow none

h1
h2
h3
  font-family var(--head_bold)
  font-weight normal
  line-height normal
  margin-top 30px
  margin-bottom 20px
  text-transform uppercase
  letter-spacing 1px

  &:first-child
    margin-top 0

h1
  font-size 2.488em

  +below(768px)
    font-size 2em

  +below(480px)
    font-size 1.8em

h2
  font-size 2.074em
  line-height 1.4em

  +below(768px)
    font-size 1.8em

  +below(480px)
    font-size 1.5em

h3
  font-size 1.728em
  line-height 1.4em

  +below(480px)
    font-size 1.2em

h4
h5
h6
  font-size 1.4em
  line-height 1.6em
  font-family var(--font_bold)
  font-weight bold
  text-transform none
  margin-top 30px
  margin-bottom 20px
  letter-spacing 1px

  &:first-child
    margin-top 0

  +below(480px)
    font-size 1.1em

b
strong
dt
  font-family var(--font_bold)
  font-weight normal
  line-height normal

i
em
  font-weight normal
  font-family var(--font_regular)

  &:before
    margin 0
    width auto

pre
code
  margin 0
  border none
  background none

p
  margin-bottom 15px

  &:last-child
    margin-bottom 0

img
  vertical-align middle
  height auto
  max-width 100%

  &[data-src]
  &[data-srcset]
    display block
    min-height 1px

// details
details
  margin-bottom 30px
  background @css {rgb(var(--main_gray))}
  border-radius 10px

  summary
    background @css {rgb(var(--main_gray))}
    font-family var(--main_regular)
    padding 15px
    border-top-right-radius 5px
    border-top-left-radius 5px
    cursor pointer

  > div
    padding 30px

audio
canvas
progress
video
  display inline-block
  vertical-align baseline

video
  object-fit contain

figure
  margin 0

.align-right
.align-left
  max-width 300px

  +below(768px)
    max-width 30%