.maintenance
  display flex
  align-items center
  justify-content center
  width 100%
  min-height calc(100vh - 86px)

.maintenance__ico
  text-align center
  font-size 7em

.maintenance__header
  text-align center
  display flex
  flex-direction column
  align-items center
  padding 30px 0

.maintenance__logo
  max-width 200px
  margin-bottom 15px

.maintenance__slogan
  color @css { rgb(var(--main_graydark)) }

.maintenance__main
  text-align center
  
  h1
    margin-bottom 10px