table
  width 100%
  border-collapse collapse
  border 1px solid @css{rgb(var(--main_gray))}
  background @css{rgb(var(--main_white))}
  margin-bottom 15px

  thead
    tr
      background @css{rgb(var(--main_gray))}

      th
        padding 10px
        text-align left
        border none

  tbody
    tr
      border-bottom 1px solid @css{rgb(var(--main_gray))}
      transition 0.3s

      td
        padding 10px
        border none

      &:last-child
        border-bottom none

      &:hover
        background @css{rgba(var(--main_gray), 0.3)}
        transition 0.3s

.gtable
  display table
  width 100%
  border-collapse collapse

.gtr
  width auto
  display table-row

.gth,
.gtd
  display table-cell
  width auto
  padding 10px
  border 1px solid @css{rgb(var(--main_graydark))}
  vertical-align middle

  svg
    margin-right 5px

.gth
  font-family var(--font_bold)
  background @css{rgb(var(--main_gray))}
