button:not(.flickity-button)
  button()

section
  padding-top 50px
  padding-bottom 50px

  &.nop
    padding-top 0
    padding-bottom 0

  &.nopt
    padding-top 0

  &.nopb
    padding-bottom 0

  +below(768px)
    padding-top 30px
    padding-bottom 30px

.container
  max-width 900px
  margin 0 auto
  padding-left 30px
  padding-right 30px