:root
  // fonts
  --font_regular: 'Roboto-Regular', Arial, Helvetica, sans-serif
  --font_medium: 'Roboto-Regular'
  --font_bold: 'Roboto-Regular'
  --head_regular: 'Roboto-Regular'
  --head_bold: 'Roboto-Regular'

  // colors - main
  --main_color: 66, 133, 244
  --main_color_hover: 161, 133, 98
  
  // colors - default
  --main_dark: 25, 22, 13
  --main_white: 255, 255, 255
  
  // colors - special
  --main_gray: 240, 248, 255
  --main_gray_hover: 239, 237, 227
  --main_graydark: 191, 191, 199
  --main_red: 255, 94, 0
  --main_green: 52, 168, 83
  --main_yellow: 255, 217, 0

  // sizes
  --font_size: 16px
  --line_height: 26px
  --font_size_small: 14px
  --line_height_small: 22px

  // vars
  --width: 1300px
  --border_radius: 0
  --button_height: 50px
