/*Fonts*/
@font-face
  font-family 'ProximaNovaRegular'
  src url('../fonts/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'),
      url('../fonts/ProximaNovaRegular/ProximaNovaRegular.woff2') format('woff2'),
      url('../fonts/ProximaNovaRegular/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg'),
      url('../fonts/ProximaNovaRegular/ProximaNovaRegular.eot'),
      url('../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf') format('truetype')
  font-weight normal
  font-style normal
  font-display swap

@font-face
  font-family 'ProximaNovaBold'
  src url('../fonts/ProximaNovaBold/ProximaNovaBold.woff') format('woff'),
      url('../fonts/ProximaNovaBold/ProximaNovaBold.woff2') format('woff2'),
      url('../fonts/ProximaNovaBold/ProximaNovaBold.svg#ProximaNovaBold') format('svg'),
      url('../fonts/ProximaNovaBold/ProximaNovaBold.eot'),
      url('../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNovaBold/ProximaNovaBold.ttf') format('truetype')
  font-weight normal
  font-style normal
  font-display swap

@font-face
  font-family 'PodkovaBold'
  src url('../fonts/PodkovaBold/PodkovaBold.woff') format('woff'),
      url('../fonts/PodkovaBold/PodkovaBold.woff2') format('woff2'),
      url('../fonts/PodkovaBold/PodkovaBold.svg#PodkovaBold') format('svg'),
      url('../fonts/PodkovaBold/PodkovaBold.eot'),
      url('../fonts/PodkovaBold/PodkovaBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PodkovaBold/PodkovaBold.ttf') format('truetype')
  font-weight normal
  font-style normal
  font-display swap

@font-face
  font-family 'PTSansPro-Caption'
  src url('../fonts/PTSansPro-Caption/PTSansPro-Caption.woff') format('woff'),
      url('../fonts/PTSansPro-Caption/PTSansPro-Caption.woff2') format('woff2'),
      url('../fonts/PTSansPro-Caption/PTSansPro-Caption.svg#PTSansPro-Caption') format('svg'),
      url('../fonts/PTSansPro-Caption/PTSansPro-Caption.eot'),
      url('../fonts/PTSansPro-Caption/PTSansPro-Caption.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSansPro-Caption/PTSansPro-Caption.ttf') format('truetype')
  font-weight normal
  font-style normal
  font-display swap
