.ac
  margin 0
  border none
  border-bottom 1px solid @css {rgb(var(--main_graydark))}

  .ac-trigger
    font-family var(--main_regular)
    padding 10px 15px
    font-weight normal

    &::after
      content ''
      font-family 'fontello'

  &.is-active
    border-color @css {rgb(var(--main_color))}

    .vacancy_list__title
      color @css {rgb(var(--main_color))}

    .ac-trigger
      &::after
        content ''

.ac
  .ac-panel
    .ac-text
      font-family var(--font_regular)
      padding 10px 15px
      color @css {rgb(var(--main_dark))}

.vacancy_list__title
  font-family var(--head_bold)
  margin-bottom 10px
  font-size 1.1em
  line-height auto

.vacancy_list__props
  color @css {rgb(var(--main_graydark))}
  font-size 0.9em