.a2a_kit
  display flex
  align-items center

  a
    width 30px
    height 30px
    align-items center
    justify-content center
    display flex

    &.a2a_dd
      span
        display none

    svg
      svg(16px)
