.badges
  display flex
  align-items center
  flex-wrap wrap

  span
    display flex
    align-items center
    justify-content center
    background @css {rgb(var(--main_white))}
    border 1px solid @css {rgb(var(--main_color))}
    color @css {rgb(var(--main_color))}
    padding 0 10px
    border-radius var(--border_radius)
    font-size 0.9em