.coderteam
  width 60px
  height 60px
  display flex
  align-items center
  justify-content center
  border-radius 50%
  background @css {rgb(var(--main_white))}
  padding 15px

  svg
    width 100%
    height auto
    fill @css {rgb(var(--main_dark))}

  &:hover
    transform scale(1.05)