.view__filters
  grid-column 1 / -1

.views-exposed-form
  display flex
  flex-wrap wrap
  align-items center
  margin-bottom 30px

  input
  select
    background-color @css {rgb(var(--main_white))}

  .form-item
    margin 0 15px 15px 0

  +below(480px)
    .form-item
      margin 0 0 15px
      width 100%

      &:last-child
        margin-bottom 0