.not_found
  text-align center
  min-height 300px

.not_found__ico
  font-size 3em
  line-height normal
  width 100px
  height 100px
  background @css {rgb(var(--main_gray))}
  border-radius 50%
  display inline-flex
  align-items center
  justify-content center
  color @css {rgb(var(--main_color))}
  margin-bottom 20px

.not_found__text
  p
    font-size 1.1em
    margin-bottom 20px