#totop
  display flex
  align-items center
  justify-content center
  position relative
  background @css {rgb(var(--main_white))}
  padding 20px 30px

  svg
    svg()
    margin-right 5px

  &:hover
    background @css {rgba(var(--main_gray), 0.1)}
    color @css {rgb(var(--main_color))}

    svg
      fill @css {rgb(var(--main_color))}