link(arguments = @css {rgb(var(--main_dark))})
  color arguments
  display inline
  position relative
  cursor pointer
  box-shadow inset 0 -1px 0 0 arguments
  transition all 0.3s

  &:hover
    color main_color
    box-shadow inset 0 -1px 0 0 transparent