ratio(width = 300, height = 200)
  position relative
  display block
  background @css {rgb(var(--white))}

  &::before
    display block
    content ""
    width 100%
    padding-top (height / width) * 100%

  > .image
  picture .image
    absolute left top right bottom
    opacity 0
    transition opacity 0.3s

    &.loaded
    &.flickity-lazyloaded
      opacity 1